.wrapper{
    width: 100%;
    max-width: 61.33rem;
    margin: 0 auto;
}
.searchContainer{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-top: -1.6875rem;
}
.searchContainer input{
    flex: 1;
}

@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
}